@tailwind base;
@tailwind components;
@tailwind utilities;

/* #################################### GENERAL ############################################ */
body {
    @apply text-yellow-50 bg-black align-top;
}

.homeContent, .galleryContent, .aboutContent, .contactContent {
    @apply w-4/5 h-full mx-auto;
    background-image: url("./../images/bg1-dark-1200x750.png");
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: contain;
}

h1 {
    @apply py-5 text-2xl ;
}

h2 {
    @apply text-xl pb-3;
}

p {
    @apply text-lg mb-5;
}

/* #################################### HEADER ############################################ */

.header-container {
    @apply flex justify-center bg-black w-full h-full text-center;
}

.nav-left, .nav-right {
    @apply flex flex-row justify-center items-end;
}

.buttonLeft, .buttonRight {
    @apply flex items-center justify-center text-center cursor-pointer;
    @apply bg-black border-2 border-yellow-50 ;
    @apply font-sans text-yellow-50;
}

.buttonRight:hover, .buttonLeft:hover {
    @apply bg-orange-500 shadow-xl shadow-amber-900 ;
}

.btn {
    @apply m-auto cursor-pointer;
}

.btnQuote {
    @apply w-96 h-12 m-auto flex items-center justify-center text-center cursor-pointer;
    @apply bg-orange-500 border-2 border-blue-200 rounded-xl ;
    @apply font-sans text-blue-200 text-2xl font-bold;
}

.btnQuote:hover {
    @apply shadow-xl shadow-orange-300;
    transform: scale(1.1);
}

.currentBtn {
    @apply text-blue-300 border-blue-300 bg-blue-950 cursor-default;
}

.currentBtn:hover {
    @apply bg-blue-900 shadow-none;
}

.nav-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.nav-logo:hover {
    /*@apply opacity-60;*/
    filter: drop-shadow(0 0 2em rgb(252, 250, 210));
    transform: scale(1.2);
}


.hamburger-menu {
    @apply w-12 h-12 bg-black mb-10 cursor-pointer;
}

.hamburger-bar {
    @apply w-full h-2 my-3 bg-amber-100
}

.hamMenuContainer {
    @apply block w-full;
}

.hbtn {
    @apply block w-screen h-16 my-auto bg-black py-4 ;
    @apply text-yellow-100 text-xl font-extrabold border-b-2 border-orange-400 cursor-pointer;
}

.hbtn:hover, .hbtn:focus, .hbtn:active {
    @apply bg-amber-100 text-black;
}

.quietBtn {
    @apply border-gray-950 bg-black text-gray-950;
}

.quietBtn:hover {
    @apply bg-gray-900 shadow-none;
}

.quietBtnH {
    @apply bg-black text-black cursor-default;
}

.quietBtnH:hover {
    @apply bg-black text-black;
}

/* #################################### Content ############################################ */


/* #################################### GALLERY ############################################ */
.galleryContent {

}

.collection {
    @apply flex flex-wrap items-center justify-center ;
}

.galleryCard {
    @apply w-1/4 h-96 p-6 bg-amber-100 border-8 border-white;
}

.galleryTop {

}

.galleryBottom p {
    @apply text-sm;
}

.galleryImage {
    @apply w-full h-64 overflow-hidden;
}

.galleryImage:hover {
    transform: scale(2);
}


/* #################################### CONTACT ############################################ */
.contactContent {

}

/* #################################### ABOUT US ############################################ */
.aboutContent {

}

/* #################################### FOOTER ############################################ */
.mainFoot {
    @apply flex justify-center text-center;
}

.mainFoot p {
    @apply text-gray-50 text-center;
}

.leftFoot, .rightFoot {
    @apply w-1/5;
}

.centerFoot {
    @apply w-2/5;
}

.centerFoot p {
    @apply text-sm;
}

/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 660px) {
    .nav-logo {
        @apply w-full h-full float-left pb-0 mb-0;
        min-width: 140px;
        max-width: 200px;
        min-height: 80px;
        max-height: 150px;
        background-image: url("./../images/mobileLogo.png");
    }

    .nav-left, .nav-right {
        @apply w-1/5 pb-1;
    }

    .buttonLeft, .buttonRight {
        @apply hidden;
    }
}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 661px) and (max-width: 1000px) {
    .hamburger-menu {
        @apply hidden;
    }

    #hamburger {
        @apply hidden;
    }

    .nav-left, .nav-right {
        @apply w-1/4 pb-2;
    }

    .nav-logo {
        @apply w-full h-full float-left pb-0 mb-0;
        min-width: 140px;
        max-width: 200px;
        min-height: 140px;
        max-height: 200px;
        background-image: url("./../images/aiLogo-400.png");
    }

    .buttonLeft, .buttonRight {
        @apply mx-2 text-lg font-medium rounded-lg;
        width: 100px;
        height: 35px;
    }
}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 1001px) {
    .hamburger-menu {
        @apply hidden;
    }

    #hamburger {
        @apply hidden;
    }

    .nav-logo {
        @apply w-full h-full mx-auto pb-0 mb-0;
        min-width: 200px;
        max-width: 250px;
        min-height: 200px;
        max-height: 250px;
        background-image: url("../images/aiLogo-400.png");
    }

    .nav-left, .nav-right {
        @apply w-1/3 pb-2;
    }

    .buttonLeft, .buttonRight {
        @apply mx-2 text-xl font-extrabold rounded-xl;
        width: 150px;
        height: 45px;
    }
}

/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */

